header {
  text-align: center;
  border-bottom: 2px solid black;
  color: orange;
  height: 3em;
}

#page {
  display: flex;
  flex-wrap: wrap;
}

li {
  font-size: 1.5em;
  line-height: 1.8em;
}

.hide {
  display: none;
}